/* Global */
:root {
    /* color */
    --color-white: #ffffff;
    --color-light-blue : #7b9cc4;
    --color-blue: #003894;
    --color-dark-blue: #001d53;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-beige: #faf9f5;
    --color-black: #171717;
    --color-dark-grey: #5e5e5e;
    --color-grey: #a1a1a1;
    --color-light-grey: #cfcfcf;
    --color-black: #000000;

    /* font size */
    --font-large: 44px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* font weight */
    --weight-bold: 900;
    --weight-semi-bold: 500;
    --weight-regular: 300;

    /* size */
    --size-border-radius: 20px;

}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-blue);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-blue);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.navbar__menu__item {
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-light-blue);
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-blue);
}