/* Global */
:root {
    /* color */
    --color-white: #ffffff;
    --color-light-blue: #7b9cc4;
    --color-blue: #003894;
    --color-dark-blue: #001d53;
    --color-light-white: #f7f7f7;
    --color-dark-white: #bdbdbd;
    --color-beige: #faf9f5;
    --color-black: #171717;
    --color-dark-grey: #5e5e5e;
    --color-grey: #a1a1a1;
    --color-light-grey: #cfcfcf;
    --color-black: #000000;

    /* font size */
    --font-large: 44px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* font weight */
    --weight-bold: 900;
    --weight-semi-bold: 700;
    --weight-regular: 300;
    --weight-semi-regular: 300;

    /* size */
    --size-border-radius: 40px;

    /* Annimation */
    --animation-duration: 300ms;

}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-blue);
    margin: 16px 0;
    line-height: 180%;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
    line-height: 180%;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
    line-height: 180%;
}

p {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 5px 0;
    line-height: 180%;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-blue);
    align-items: center;
    color: var(--color-white);
    padding: 20px;
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.navbar__menu__item {
    padding: 8px 20px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-light-blue);
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-blue);
}

.navbar__toggle-btn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* Home */
#home {
    padding: 50px;
    text-align: center;
}

.home__avatar {
    margin: 50px;
    width: 300px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid var(--color-dark-blue)
}

.home__contact {
    color: var(--color-light-blue);
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 24px;
    padding: 10px 12px;
    border: 2px solid var(--color-light-blue);
    border-radius: var(--size-border-radius);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* About */
#About {
    background-color: var(--color-light-white);
}

.about__stat {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.stat_title {
    color: var(--color-blue);
    font-size: 130%;
}

.stat__icon i {
    transition: all var(--animation-duration) ease;
}

.stat__icon:hover i {
    color:var(--color-blue);
    transform: rotate(20deg) scale(1.1);
}

.stat__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 60px;
    color: var(--color-light-blue);
    margin: auto;
    border: 2px solid var(--color-light-blue);
    border-radius: 50%;
    background-color: var(--color-white);
    margin-bottom: 30px;
}

/* Profile */
.profile__career {
    display: flex;
    padding-bottom: 20px;
}

.profile__left {
    flex-basis: 50%;
}

.profile__right {
    flex-basis: 50%;
}

.job__period {
    color: var(--color-grey);
    font-size: var(--font-micro);
}

.skillset__title {
    width: 120px;
    text-align: center;
    color: var(--color-white);
    border: 2px solid var(--color-light-blue);
    border-radius: var(--size-border-radius);
    margin: auto;
    padding: 5px;
}

.skillset {
    display: flex;
    background-color: var(--color-blue);
    font-weight: var(--weight-regular);
    margin: 30px;
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-blue);
    color: var(--color-light-blue);
    padding: 30px 0;
}

.skillset__right {
    flex-basis: 40%;
    background-color: var(--color-blue);
    color: var(--color-light-blue);
    padding: 30px 0;
}

.skill {
    padding: 8px 40px;
}

.skill__value {
    height: 5px;
    background-color: var(--color-light-blue);
    border-radius: var(--size-border-radius);
}

.skill_description {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
}

.skill__bar {
    width: 100%;
    height: 5px;
    background-color: var(--color-blue);
    border-radius: var(--size-border-radius);
}

.tools {
    padding-bottom: 10px;
    line-height: 160%;
}

.etc {
    line-height: 160%;
}


/* Portfolio */
.portfolio__bar {
    width: 100%;
    height: 1px;
    background-color: var(--color-light-white);
}

.work__categories {
    margin: 40px;
}
.category__btn {
    border-radius: 5px;
    border: 1px solid var(--color-dark-grey);
    padding: 8px 30px;
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-dark-grey);
    color: var(--color-light-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
    opacity: 1;
    top: 0;
}

.category__count {
    color: var(--color-light-white);
    background-color: var(--color-light-blue);
    border-radius: var(--size-border-radius);
    width: 22px;
    height: 22px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 2px;
    background-color:var(--color-light-white);
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: var(--color-black);
    font-size: var(--font-micro);
    font-weight: var(--weight-regular);
    color: var(--color-dark-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
    opacity: 0.9;
    transform: translateY(0px);
}

.project__description h3{
    color: var(--color-white);
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-grey);
    
}

#portfolio {
    padding-bottom: 80px;
}

/* Project */
#Project {
    background: linear-gradient(#f5f5f5, #ffffff);
}

.project__main {
    max-width: 1200px;
    width: 400px;
    display: flex;
    align-items: center;
    margin: auto;
}

/* Contact */
#Contact {
    background-color: var(--color-dark-blue);
}

.contact__title,
.contact__email,
.contact__rights {
    color: var(--color-white);
}

.contact__title {
    margin: 30px;
}

.contact__rights {
    font-size: var(--font-micro);
    color: var(--color-light-blue);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .about__stat {
        flex-direction: column;
    }

    .stat {
        margin-bottom: 36px;
    }

    .skillset {
        flex-direction: column;
    }

    .project {
        flex-grow:  1;
    }
}